{{ chatroom.name }}
<!--To get username:-->
{{request.user.username}}

<!--To display messages:-->
<div id="chat-messages"></div>


<form method="post">
    {% csrf_token %}
    <input id="message-input" type="text" name="message" placeholder="Enter message">
    <button id="send-button" type="submit">Send</button>
</form>
{{ chatroom.slug | json_script:"json-chatroomname" }}
{{request.user.username | json_script:"json-username"}}

<script>
    //create variable that holds the chatroomname:
    const chatRoomName = JSON.parse(document.getElementById('json-chatroomname').textContent)

    //create new variable that holds the user name so I can pass it along with the message:
    const username = JSON.parse(document.getElementById('json-username').textContent)

    //create new websocket in this particular path:
    const chatSocket = new WebSocket(
        'ws://'  //because we are using web sockets instead of http
        +window.location.host //gets domain name dynamically
        + '/ws/' // routing pattern
        + chatRoomName //completes routing pattern
        +'/'
    )
    chatSocket.onmessage = function(e){
        // console.log('socket open') this is where we will display the message that is coming with the event (e)
        //this const will have the data being dumped as json:
        const data = JSON.parse(e.data)
        if (data.message){
            let html = data.username + ':' + data.message + '</br>'
            document.getElementById('chat-messages').innerHTML+=html
        }else {
            alert('The message was empty')
        }

    }

    chatSocket.onclose= function(e){
        console.log('socket closed')
    }

    //get access to "submit" button:
    document.getElementById('send-button').onclick = function(e){
        e.preventDefault()
        const messageInput = document.getElementById('message-input')
        const message = messageInput.value //gets the content of the actual message and stores it in the variable
        messageInput.value = "" //set mesage to empty after it's sent
        //send message to socket as JSON string (this is the data sent to consumers.py):
        chatSocket.send(JSON.stringify({
            'message':message,
            'username': username, //sends username of user who is logged in
            'room': chatRoomName //sends the chatroom name (this value was extracted @beginning of file)
        }))
    
        messageInput.value = "" //set mesage to empty after it's sent

    }

</script>