{% extends 'chatapp/base.html' %}
{% block body %}
<div class="m-10 font-bold">
    {{ chatroom.name }}
</div>



<!--To get username:-->
<!-- {{request.user.username}} -->

<!--To display messages:-->
<div class="message-container m-10 overflow-auto h-[700px]" id="message-container">
    <div id="chat-messages">
        {% for message in messages %}
        <div class="message shadow-lg p-3 m-5 rounded-lg w-1/2 bg-blue-300">
            <div class="text-sm text-gray-500">
                {{ message.user.username }}
            </div>
                {{message.message_content}}  <!--message_content is the model field-->
            <div class="text-sm text-gray-500">
                {{ message.date }}
            </div>
        </div>
        
        {% endfor %}
    </div>
</div>
<div class="form-container fixed inset-x-0 bottom-0 bg-blue-900 p-5 ">
    <form method="post">
        {% csrf_token %}
        <input class="rounded-md px-2" id="message-input" type="text" name="message" placeholder="Enter message">
        <button class="text-white ml-5" id="send-button" type="submit">Send</button>
    </form>

</div>

{{ chatroom.slug | json_script:"json-chatroomname" }}
{{request.user.username | json_script:"json-username"}}

<script>
    //create variable that holds the chatroomname:
    const chatRoomName = JSON.parse(document.getElementById('json-chatroomname').textContent)

    //create new variable that holds the user name so I can pass it along with the message:
    const username = JSON.parse(document.getElementById('json-username').textContent)

    //create new websocket in this particular path:
    const chatSocket = new WebSocket(
        'ws://'  //because we are using web sockets instead of http
        +window.location.host //gets domain name dynamically
        + '/ws/' // routing pattern
        + chatRoomName //completes routing pattern
        +'/'
    )
    chatSocket.onmessage = function(e){
        //this const will have the data being dumped as json:
        const data = JSON.parse(e.data)
        if (data.message){
    
            let html = '<div class="message shadow-lg p-3 rounded-lg w-1/2 bg-blue-300 m-3">' + 
                '<div class="text-sm text-gray-500">' +
                data.username + '</div>' + data.message + '<div class="text-sm text-gray-500">' + 'Now' + '</div>'
            document.getElementById('chat-messages').innerHTML+=html
                    scroll()
        }else {
            alert('The message was empty')
        }

    }

    chatSocket.onclose= function(e){
        console.log('socket closed')
    }

    //get access to "submit" button:
    document.getElementById('send-button').onclick = function(e){
        e.preventDefault()
        const messageInput = document.getElementById('message-input')
        const message = messageInput.value //gets the content of the actual message and stores it in the variable
        messageInput.value = "" //set mesage to empty after it's sent
        //send message to socket as JSON string (this is the data sent to consumers.py):
        chatSocket.send(JSON.stringify({
            'message':message,
            'username': username, //sends username of user who is logged in
            'room': chatRoomName //sends the chatroom name (this value was extracted @beginning of file)
        }))
    
        messageInput.value = "" //set mesage to empty after it's sent

    }

    function scroll(){
        const mcontainer = document.getElementById('message-container')
        mcontainer.scrollTop = mcontainer.scrollHeight
    }
    scroll()

</script>

{% endblock %}